<a href="https://colab.research.google.com/github/u6k/ml-sandbox/blob/master/predict_horse_racing.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [15]:
import pandas as pd

df_all = pd.read_csv("drive/My Drive/ml_data/race_meta_and_scores.csv")

df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 25 columns):
race_meta_id         207945 non-null int64
race_id              207945 non-null int64
course_name          207945 non-null object
course_length        207945 non-null object
race_name            207945 non-null object
race_number          207945 non-null int64
start_datetime       207667 non-null object
weather              207667 non-null object
course_condition     207667 non-null object
race_class           207945 non-null object
prize_class          207945 non-null object
horse_number         207945 non-null int64
horse_id             207945 non-null int64
horse_name           207945 non-null object
gender               207945 non-null object
age                  207945 non-null int64
coat_color           207945 non-null object
horse_weight         207945 non-null int64
trainer_id           207945 non-null int64
jockey_id            207945 non-null int64
jockey_weight        207945 non-null float64
father_horse_name    207945 non-null object
mother_horse_name    207945 non-null object
rank                 206922 non-null float64
time                 206922 non-null float64
dtypes: float64(3), int64(9), object(13)
memory usage: 39.7+ MB

,race_meta_id,race_id,course_name,course_length,race_name,race_number,start_datetime,weather,course_condition,race_class,...,age,coat_color,horse_weight,trainer_id,jockey_id,jockey_weight,father_horse_name,mother_horse_name,rank,time
0,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,鹿毛,450,1081,1117,54.0,スウェプトオーヴァーボード,ハッピーチケット,13.0,75.4
1,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,黒鹿毛,452,428,1085,54.0,スクワートルスクワート,フレンチミヤコ,16.0,76.3
2,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,鹿毛,468,1038,1051,54.0,ロッコウオロシ,ハチノヨウニサス,12.0,75.3
3,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,青鹿毛,470,1005,733,54.0,ヴァーミリアン,バディ,4.0,72.7
4,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,鹿毛,458,1048,1153,51.0,エンパイアメーカー,スイートフィズ,5.0,72.7

In [16]:
df_subset = df_all[["course_length",
                    "weather",
                    "course_condition",
                    "race_class",
                    "prize_class",
                    "gender",
                    "age",
                    "coat_color",
                    "horse_weight",
                    "trainer_id",
                    "jockey_id",
                    "jockey_weight",
                    "rank"]]

print(df_subset.info())

print("----------")
print("isnull.sum")
print("----------")
print(df_subset.isnull().sum())

print("----------")
print("dropna")
print("----------")
df = df_subset.dropna()

print("----------")
print("isnull.sum")
print("----------")
print(df.isnull().sum())

print("----------")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 13 columns):
course_length       207945 non-null object
weather             207667 non-null object
course_condition    207667 non-null object
race_class          207945 non-null object
prize_class         207945 non-null object
gender              207945 non-null object
age                 207945 non-null int64
coat_color          207945 non-null object
horse_weight        207945 non-null int64
trainer_id          207945 non-null int64
jockey_id           207945 non-null int64
jockey_weight       207945 non-null float64
rank                206922 non-null float64
dtypes: float64(2), int64(4), object(7)
memory usage: 20.6+ MB
None
----------
isnull.sum
----------
course_length          0
weather              278
course_condition     278
race_class             0
prize_class            0
gender                 0
age                    0
coat_color             0
horse_weight           0
trainer_id             0
jockey_id              0
jockey_weight          0
rank                1023
dtype: int64
----------
dropna
----------
----------
isnull.sum
----------
course_length       0
weather             0
course_condition    0
race_class          0
prize_class         0
gender              0
age                 0
coat_color          0
horse_weight        0
trainer_id          0
jockey_id           0
jockey_weight       0
rank                0
dtype: int64
----------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 206645 entries, 0 to 207944
Data columns (total 13 columns):
course_length       206645 non-null object
weather             206645 non-null object
course_condition    206645 non-null object
race_class          206645 non-null object
prize_class         206645 non-null object
gender              206645 non-null object
age                 206645 non-null int64
coat_color          206645 non-null object
horse_weight        206645 non-null int64
trainer_id          206645 non-null int64
jockey_id           206645 non-null int64
jockey_weight       206645 non-null float64
rank                206645 non-null float64
dtypes: float64(2), int64(4), object(7)
memory usage: 22.1+ MB
None

In [17]:
df.head()

,course_length,weather,course_condition,race_class,prize_class,gender,age,coat_color,horse_weight,trainer_id,jockey_id,jockey_weight,rank
0,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,450,1081,1117,54.0,13.0
1,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,黒鹿毛,452,428,1085,54.0,16.0
2,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,468,1038,1051,54.0,12.0
3,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,青鹿毛,470,1005,733,54.0,4.0
4,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,458,1048,1153,51.0,5.0

In [0]:
df_course_length = pd.get_dummies(df["course_length"])
df_weather = pd.get_dummies(df["weather"])
df_course_condition = pd.get_dummies(df["course_condition"])
df_race_class = pd.get_dummies(df["race_class"])
df_prize_class = pd.get_dummies(df["prize_class"])
df_gender = pd.get_dummies(df["gender"])
df_age = pd.get_dummies(df["age"])
df_coat_color = pd.get_dummies(df["coat_color"])
df_trainer_id = pd.get_dummies(df["trainer_id"])
df_jockey_id = pd.get_dummies(df["jockey_id"])
df_father_horse_name = pd.get_dummies(df_all["father_horse_name"])
df_mother_horse_name = pd.get_dummies(df_all["mother_horse_name"])

In [22]:
import sklearn.preprocessing as sp

df_input = pd.concat([df.drop(["course_length"], axis=1), df_course_length], axis=1)
df_input = pd.concat([df_input.drop(["weather"], axis=1), df_weather], axis=1)
df_input = pd.concat([df_input.drop(["course_condition"], axis=1), df_course_condition], axis=1)
#df_input = pd.concat([df_input.drop(["race_class"], axis=1), df_race_class], axis=1)
#df_input = pd.concat([df_input.drop(["prize_class"], axis=1), df_prize_class], axis=1)
df_input = pd.concat([df_input.drop(["gender"], axis=1), df_gender], axis=1)
df_input = pd.concat([df_input.drop(["age"], axis=1), df_age], axis=1)
df_input = pd.concat([df_input.drop(["coat_color"], axis=1), df_coat_color], axis=1)
#df_input = pd.concat([df_input.drop(["trainer_id"], axis=1), df_trainer_id], axis=1)
#df_input = pd.concat([df_input.drop(["jockey_id"], axis=1), df_jockey_id], axis=1)

df_input["horse_weight"] = sp.minmax_scale(df_input["horse_weight"])
df_input["jockey_weight"] = sp.minmax_scale(df_input["jockey_weight"])
#df_input["rank"] = sp.minmax_scale(df_input["rank"])

df_input = df_input.drop(["race_class","prize_class","trainer_id","jockey_id"], axis=1)

df_input.info()
df_input.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206645 entries, 0 to 207944
Columns: 122 entries, horse_weight to 黒鹿毛
dtypes: float64(3), uint8(119)
memory usage: 29.8 MB

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64.
  warnings.warn(msg, DataConversionWarning)

,horse_weight,jockey_weight,rank,ダート・右 1000m,ダート・右 1150m,ダート・右 1200m,ダート・右 1400m,ダート・右 1700m,ダート・右 1800m,ダート・右 1900m,...,11,12,栃栗毛,栗毛,白毛,芦毛,青毛,青鹿毛,鹿毛,黒鹿毛
0,0.703125,0.411765,13.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.706250,0.411765,16.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.731250,0.411765,12.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0.734375,0.411765,4.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.715625,0.235294,5.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [0]:
x = df_input.drop(["rank"], axis=1)
y = df_input["rank"]

In [24]:
x.head()

,horse_weight,jockey_weight,ダート・右 1000m,ダート・右 1150m,ダート・右 1200m,ダート・右 1400m,ダート・右 1700m,ダート・右 1800m,ダート・右 1900m,ダート・右 2000m,...,11,12,栃栗毛,栗毛,白毛,芦毛,青毛,青鹿毛,鹿毛,黒鹿毛
0,0.703125,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.706250,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.731250,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0.734375,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.715625,0.235294,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [25]:
y.head()

0    13.0
1    16.0
2    12.0
3     4.0
4     5.0
Name: rank, dtype: float64

In [26]:
import sklearn.model_selection as sm

x_train, x_test, y_train, y_test = sm.train_test_split(x, y)

print("x_train.shape: {0}".format(x_train.shape))
print("x_test.shape: {0}".format(x_test.shape))
print("y_train.shape: {0}".format(y_train.shape))
print("y_test.shape: {0}".format(y_test.shape))

x_train.shape: (154983, 121)
x_test.shape: (51662, 121)
y_train.shape: (154983,)
y_test.shape: (51662,)

In [27]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [28]:
print(lr.score(x_train, y_train))
print(lr.score(x_test, y_test))

0.031699530582436464
0.030918930366554576

In [0]:
results = lr.predict(x_test)