<a href="https://colab.research.google.com/github/u6k/ml-sandbox/blob/master/predict_horse_racing.4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount("/content/drive")

In [2]:
import pandas as pd

df_all = pd.read_csv("drive/My Drive/ml_data/race_meta_and_scores.csv")

df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 25 columns):
race_meta_id         207945 non-null int64
race_id              207945 non-null int64
course_name          207945 non-null object
course_length        207945 non-null object
race_name            207945 non-null object
race_number          207945 non-null int64
start_datetime       207667 non-null object
weather              207667 non-null object
course_condition     207667 non-null object
race_class           207945 non-null object
prize_class          207945 non-null object
horse_number         207945 non-null int64
horse_id             207945 non-null int64
horse_name           207945 non-null object
gender               207945 non-null object
age                  207945 non-null int64
coat_color           207945 non-null object
horse_weight         207945 non-null int64
trainer_id           207945 non-null int64
jockey_id            207945 non-null int64
jockey_weight        207945 non-null float64
father_horse_name    207945 non-null object
mother_horse_name    207945 non-null object
rank                 206922 non-null float64
time                 206922 non-null float64
dtypes: float64(3), int64(9), object(13)
memory usage: 39.7+ MB

,race_meta_id,race_id,course_name,course_length,race_name,race_number,start_datetime,weather,course_condition,race_class,...,age,coat_color,horse_weight,trainer_id,jockey_id,jockey_weight,father_horse_name,mother_horse_name,rank,time
0,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,鹿毛,450,1081,1117,54.0,スウェプトオーヴァーボード,ハッピーチケット,13.0,75.4
1,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,黒鹿毛,452,428,1085,54.0,スクワートルスクワート,フレンチミヤコ,16.0,76.3
2,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,鹿毛,468,1038,1051,54.0,ロッコウオロシ,ハチノヨウニサス,12.0,75.3
3,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,青鹿毛,470,1005,733,54.0,ヴァーミリアン,バディ,4.0,72.7
4,12130,1406040101,中山,ダート・右 1200m,サラ系2歳未勝利,1,2014-12-06 09:50:00,晴,稍重,サラ系2歳,...,2,鹿毛,458,1048,1153,51.0,エンパイアメーカー,スイートフィズ,5.0,72.7

In [3]:
df_subset = df_all[["course_length",
                    "weather",
                    "course_condition",
                    "race_class",
                    "prize_class",
                    "gender",
                    "age",
                    "coat_color",
                    "horse_weight",
                    "trainer_id",
                    "jockey_id",
                    "jockey_weight",
                    "rank"]]

print(df_subset.info())

print("----------")
print("isnull.sum")
print("----------")
print(df_subset.isnull().sum())

print("----------")
print("dropna")
print("----------")
df = df_subset.dropna()

print("----------")
print("isnull.sum")
print("----------")
print(df.isnull().sum())

print("----------")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207945 entries, 0 to 207944
Data columns (total 13 columns):
course_length       207945 non-null object
weather             207667 non-null object
course_condition    207667 non-null object
race_class          207945 non-null object
prize_class         207945 non-null object
gender              207945 non-null object
age                 207945 non-null int64
coat_color          207945 non-null object
horse_weight        207945 non-null int64
trainer_id          207945 non-null int64
jockey_id           207945 non-null int64
jockey_weight       207945 non-null float64
rank                206922 non-null float64
dtypes: float64(2), int64(4), object(7)
memory usage: 20.6+ MB
None
----------
isnull.sum
----------
course_length          0
weather              278
course_condition     278
race_class             0
prize_class            0
gender                 0
age                    0
coat_color             0
horse_weight           0
trainer_id             0
jockey_id              0
jockey_weight          0
rank                1023
dtype: int64
----------
dropna
----------
----------
isnull.sum
----------
course_length       0
weather             0
course_condition    0
race_class          0
prize_class         0
gender              0
age                 0
coat_color          0
horse_weight        0
trainer_id          0
jockey_id           0
jockey_weight       0
rank                0
dtype: int64
----------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 206645 entries, 0 to 207944
Data columns (total 13 columns):
course_length       206645 non-null object
weather             206645 non-null object
course_condition    206645 non-null object
race_class          206645 non-null object
prize_class         206645 non-null object
gender              206645 non-null object
age                 206645 non-null int64
coat_color          206645 non-null object
horse_weight        206645 non-null int64
trainer_id          206645 non-null int64
jockey_id           206645 non-null int64
jockey_weight       206645 non-null float64
rank                206645 non-null float64
dtypes: float64(2), int64(4), object(7)
memory usage: 22.1+ MB
None

In [4]:
df.head()

,course_length,weather,course_condition,race_class,prize_class,gender,age,coat_color,horse_weight,trainer_id,jockey_id,jockey_weight,rank
0,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,450,1081,1117,54.0,13.0
1,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,黒鹿毛,452,428,1085,54.0,16.0
2,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,468,1038,1051,54.0,12.0
3,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,青鹿毛,470,1005,733,54.0,4.0
4,ダート・右 1200m,晴,稍重,サラ系2歳,未勝利 牝 [指定] 馬齢,牝,2,鹿毛,458,1048,1153,51.0,5.0

In [0]:
df_course_length = pd.get_dummies(df["course_length"])
df_weather = pd.get_dummies(df["weather"])
df_course_condition = pd.get_dummies(df["course_condition"])
df_race_class = pd.get_dummies(df["race_class"])
df_prize_class = pd.get_dummies(df["prize_class"])
df_gender = pd.get_dummies(df["gender"])
df_age = pd.get_dummies(df["age"])
df_coat_color = pd.get_dummies(df["coat_color"])
df_trainer_id = pd.get_dummies(df["trainer_id"])
df_jockey_id = pd.get_dummies(df["jockey_id"])
df_father_horse_name = pd.get_dummies(df_all["father_horse_name"])
df_mother_horse_name = pd.get_dummies(df_all["mother_horse_name"])

In [6]:
import sklearn.preprocessing as sp
import numpy as np

df_input = pd.concat([df.drop(["course_length"], axis=1), df_course_length], axis=1)
df_input = pd.concat([df_input.drop(["weather"], axis=1), df_weather], axis=1)
df_input = pd.concat([df_input.drop(["course_condition"], axis=1), df_course_condition], axis=1)
#df_input = pd.concat([df_input.drop(["race_class"], axis=1), df_race_class], axis=1)
df_input = df_input.drop(["race_class"], axis=1)
#df_input = pd.concat([df_input.drop(["prize_class"], axis=1), df_prize_class], axis=1)
df_input = df_input.drop(["prize_class"], axis=1)
df_input = pd.concat([df_input.drop(["gender"], axis=1), df_gender], axis=1)
df_input = pd.concat([df_input.drop(["age"], axis=1), df_age], axis=1)
df_input = pd.concat([df_input.drop(["coat_color"], axis=1), df_coat_color], axis=1)
#df_input = pd.concat([df_input.drop(["trainer_id"], axis=1), df_trainer_id], axis=1)
df_input = df_input.drop(["trainer_id"], axis=1)
#df_input = pd.concat([df_input.drop(["jockey_id"], axis=1), df_jockey_id], axis=1)
df_input = df_input.drop(["jockey_id"], axis=1)

df_input["horse_weight"] = sp.minmax_scale(df_input["horse_weight"])
df_input["jockey_weight"] = sp.minmax_scale(df_input["jockey_weight"])

df_input["rank"] = df_input["rank"].astype(np.int64)

df_input.info()
df_input

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206645 entries, 0 to 207944
Columns: 122 entries, horse_weight to 黒鹿毛
dtypes: float64(2), int64(1), uint8(119)
memory usage: 29.8 MB

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64.
  warnings.warn(msg, DataConversionWarning)

,horse_weight,jockey_weight,rank,ダート・右 1000m,ダート・右 1150m,ダート・右 1200m,ダート・右 1400m,ダート・右 1700m,ダート・右 1800m,ダート・右 1900m,...,11,12,栃栗毛,栗毛,白毛,芦毛,青毛,青鹿毛,鹿毛,黒鹿毛
0,0.703125,0.411765,13,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.706250,0.411765,16,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.731250,0.411765,12,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0.734375,0.411765,4,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.715625,0.235294,5,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,0.728125,0.411765,6,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6,0.678125,0.411765,15,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,0.712500,0.411765,2,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,0.768750,0.411765,14,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0.684375,0.411765,8,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10,0.800000,0.411765,9,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
11,0.721875,0.411765,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
12,0.612500,0.235294,7,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13,0.737500,0.411765,10,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,0.625000,0.411765,3,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,0.671875,0.411765,11,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,0.737500,0.411765,5,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
17,0.731250,0.470588,7,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
18,0.762500,0.470588,15,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
19,0.778125,0.470588,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
20,0.771875,0.470588,12,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
21,0.787500,0.470588,10,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
22,0.675000,0.294118,2,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
23,0.787500,0.470588,11,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
24,0.728125,0.470588,4,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
25,0.809375,0.470588,13,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
26,0.846875,0.470588,14,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
27,0.746875,0.294118,16,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
28,0.690625,0.470588,9,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
29,0.725000,0.470588,6,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207914,0.671875,0.529412,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
207915,0.690625,0.411765,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
207916,0.668750,0.411765,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207917,0.696875,0.529412,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
207918,0.665625,0.411765,5,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
207919,0.584375,0.529412,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207920,0.600000,0.470588,7,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
207921,0.762500,0.470588,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207922,0.740625,0.470588,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
207923,0.731250,0.470588,11,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
207924,0.715625,0.470588,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207925,0.728125,0.470588,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207926,0.731250,0.470588,14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207927,0.703125,0.470588,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
207928,0.725000,0.470588,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207929,0.671875,0.470588,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
207930,0.750000,0.470588,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
207931,0.678125,0.470588,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
207932,0.731250,0.470588,15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
207933,0.706250,0.470588,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
207934,0.721875,0.470588,13,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
207936,0.703125,0.588235,4,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
207937,0.731250,0.588235,3,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
207938,0.731250,0.470588,5,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
207939,0.687500,0.470588,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207940,0.721875,0.588235,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207941,0.753125,0.470588,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207942,0.781250,0.588235,2,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
207943,0.706250,0.470588,6,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
207944,0.818750,0.588235,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [0]:
x = df_input.drop(["rank"], axis=1)
y = df_input["rank"]

In [8]:
x.head()

,horse_weight,jockey_weight,ダート・右 1000m,ダート・右 1150m,ダート・右 1200m,ダート・右 1400m,ダート・右 1700m,ダート・右 1800m,ダート・右 1900m,ダート・右 2000m,...,11,12,栃栗毛,栗毛,白毛,芦毛,青毛,青鹿毛,鹿毛,黒鹿毛
0,0.703125,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.706250,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.731250,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0.734375,0.411765,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.715625,0.235294,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
y.head()

0    13
1    16
2    12
3     4
4     5
Name: rank, dtype: int64

In [10]:
import sklearn.model_selection as sm

x_train, x_test, y_train, y_test = sm.train_test_split(x, y)

print("x_train.shape: {0}".format(x_train.shape))
print("x_test.shape: {0}".format(x_test.shape))
print("y_train.shape: {0}".format(y_train.shape))
print("y_test.shape: {0}".format(y_test.shape))

x_train.shape: (154983, 121)
x_test.shape: (51662, 121)
y_train.shape: (154983,)
y_test.shape: (51662,)

In [39]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=4, random_state=0)
clf.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [40]:
print("train score: {0}".format(clf.score(x_train, y_train)))
print("test score: {0}".format(clf.score(x_test, y_test)))

train score: 0.08288651013336946
test score: 0.07785219310131238