<a href="https://colab.research.google.com/github/u6k/ml-sandbox/blob/master/time_series_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
import pandas as pd

df = pd.read_csv("drive/My Drive/ml_data/stock_prices.csv")

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92833 entries, 0 to 92832
Data columns (total 9 columns):
id                  92833 non-null int64
ticker_symbol       92833 non-null int64
date                92833 non-null object
opening_price       92833 non-null int64
high_price          92833 non-null int64
low_price           92833 non-null int64
close_price         92833 non-null int64
turnover            92833 non-null int64
adjustment_value    92833 non-null int64
dtypes: int64(8), object(1)
memory usage: 6.4+ MB

,id,ticker_symbol,date,opening_price,high_price,low_price,close_price,turnover,adjustment_value
0,1,1301,2019-04-11 00:00:00,2821,2830,2789,2790,20500,2790
1,2,1301,2019-04-10 00:00:00,2751,2845,2732,2832,59200,2832
2,3,1301,2019-04-09 00:00:00,2759,2768,2748,2768,24700,2768
3,4,1301,2019-04-05 00:00:00,2763,2789,2759,2771,23400,2771
4,5,1301,2019-04-04 00:00:00,2793,2801,2766,2770,32700,2770