<a href="https://colab.research.google.com/github/u6k/ml-sandbox/blob/master/time_series_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

df = pd.read_csv("drive/My Drive/ml_data/stock_prices.csv")

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92833 entries, 0 to 92832
Data columns (total 9 columns):
id                  92833 non-null int64
ticker_symbol       92833 non-null int64
date                92833 non-null object
opening_price       92833 non-null int64
high_price          92833 non-null int64
low_price           92833 non-null int64
close_price         92833 non-null int64
turnover            92833 non-null int64
adjustment_value    92833 non-null int64
dtypes: int64(8), object(1)
memory usage: 6.4+ MB

,id,ticker_symbol,date,opening_price,high_price,low_price,close_price,turnover,adjustment_value
0,1,1301,2019-04-11 00:00:00,2821,2830,2789,2790,20500,2790
1,2,1301,2019-04-10 00:00:00,2751,2845,2732,2832,59200,2832
2,3,1301,2019-04-09 00:00:00,2759,2768,2748,2768,24700,2768
3,4,1301,2019-04-05 00:00:00,2763,2789,2759,2771,23400,2771
4,5,1301,2019-04-04 00:00:00,2793,2801,2766,2770,32700,2770

In [19]:
df_1301 = df[df.ticker_symbol == 1301]
df_1301.index = df_1301.date
df_1301 = df_1301.sort_index()
df_1301 = df_1301[["opening_price",
                   "high_price",
                   "low_price",
                   "close_price",
                   "adjustment_value"]]

df_1301.info()
df_1301

<class 'pandas.core.frame.DataFrame'>
Index: 9125 entries, 1983-01-04 00:00:00 to 2019-04-12 00:00:00
Data columns (total 5 columns):
opening_price       9125 non-null int64
high_price          9125 non-null int64
low_price           9125 non-null int64
close_price         9125 non-null int64
adjustment_value    9125 non-null int64
dtypes: int64(5)
memory usage: 427.7+ KB

,opening_price,high_price,low_price,close_price,adjustment_value
date,,,,,
1983-01-04 00:00:00,144,144,140,141,1410
1983-01-05 00:00:00,144,155,142,153,1530
1983-01-06 00:00:00,162,168,157,160,1600
1983-01-07 00:00:00,160,162,155,155,1550
1983-01-08 00:00:00,157,158,152,152,1520
1983-01-10 00:00:00,155,155,151,153,1530
1983-01-11 00:00:00,156,164,153,164,1640
1983-01-12 00:00:00,164,164,160,160,1600
1983-01-13 00:00:00,160,161,158,158,1580
1983-01-14 00:00:00,159,160,156,157,1570
1983-01-17 00:00:00,158,165,158,164,1640
1983-01-18 00:00:00,166,166,160,162,1620
1983-01-19 00:00:00,164,167,158,160,1600
1983-01-20 00:00:00,160,165,160,162,1620
1983-01-21 00:00:00,163,164,158,158,1580
1983-01-22 00:00:00,160,160,158,160,1600
1983-01-24 00:00:00,156,159,155,155,1550
1983-01-25 00:00:00,155,156,153,153,1530
1983-01-26 00:00:00,155,157,154,157,1570
1983-01-27 00:00:00,155,166,155,162,1620
1983-01-28 00:00:00,167,174,167,167,1670
1983-01-29 00:00:00,172,172,168,170,1700
1983-01-31 00:00:00,170,172,162,162,1620
1983-02-01 00:00:00,165,168,163,165,1650
1983-02-02 00:00:00,170,170,163,163,1630
1983-02-03 00:00:00,165,165,160,160,1600
1983-02-04 00:00:00,161,164,160,160,1600
1983-02-05 00:00:00,160,167,160,166,1660
1983-02-07 00:00:00,166,169,162,162,1620
1983-02-08 00:00:00,162,165,161,161,1610
...,...,...,...,...,...
2019-03-01 00:00:00,2998,3020,2998,3000,3000
2019-03-04 00:00:00,3020,3035,2997,3010,3010
2019-03-05 00:00:00,3005,3030,3005,3020,3020
2019-03-06 00:00:00,3020,3025,3005,3005,3005
2019-03-07 00:00:00,3005,3015,2998,3000,3000
2019-03-08 00:00:00,2975,2975,2906,2924,2924
2019-03-11 00:00:00,2943,2963,2930,2959,2959
2019-03-12 00:00:00,2986,3020,2978,3015,3015
2019-03-13 00:00:00,3015,3030,3005,3015,3015
2019-03-14 00:00:00,3030,3030,3000,3010,3010
2019-03-15 00:00:00,3010,3040,2993,2996,2996
2019-03-18 00:00:00,3030,3050,3000,3050,3050
2019-03-19 00:00:00,3050,3055,2991,2994,2994
2019-03-20 00:00:00,3010,3035,2997,3035,3035
2019-03-22 00:00:00,3040,3045,3000,3015,3015
2019-03-25 00:00:00,3015,3040,2995,3040,3040
2019-03-26 00:00:00,3045,3060,3000,3000,3000
2019-03-27 00:00:00,2860,2950,2850,2938,2938
2019-03-28 00:00:00,2927,2927,2796,2796,2796
2019-03-29 00:00:00,2828,2848,2820,2836,2836
2019-04-01 00:00:00,2839,2890,2839,2861,2861
2019-04-02 00:00:00,2878,2878,2830,2830,2830
2019-04-03 00:00:00,2835,2836,2773,2789,2789
2019-04-04 00:00:00,2793,2801,2766,2770,2770
2019-04-05 00:00:00,2763,2789,2759,2771,2771
2019-04-08 00:00:00,2773,2778,2760,2778,2778
2019-04-09 00:00:00,2759,2768,2748,2768,2768
2019-04-10 00:00:00,2751,2845,2732,2832,2832
2019-04-11 00:00:00,2821,2830,2789,2790,2790
2019-04-12 00:00:00,2790,2816,2773,2816,2816